


<ul class="nav">
    <li>
        <a href="index.html">
            <img src="images/navigation/home.png">
            <div>
                Home
            </div>
        </a>
    </li>
    <li>
        <a href="pages/about.html">
            <img src="images/navigation/aboutme.png">
            <div>
                About Me!
            </div>
        </a>
    </li>
    <li>
        <a href="pages/projects.html">
            <img src="images/navigation/projects.png">
            <div>
                My Projects
            </div>
        </a>
    </li>
    <li>
        <a href="pages/art.html">
            <img src="images/navigation/art.png">
            <div>
                Art and Music
            </div>
        </a>
    </li>
    <li>
        <a href="pages/whats-on-my-desk.html">
            <img src="images/navigation/games.png">
            <div>
                WOMD
            </div>
        </a>
    </li>
    <li>
        <a href="pages/blog.html">
            <img src="images/navigation/blog.png">
            <div>
                Blog
            </div>
        </a>
    </li>
</ul>
