<div class="guestbook-box theme-background">
    <a href="http://users.smartgb.com/g/g.php?a=s&i=g19-01623-b8" target="_blank">
        <img src="images/navigation/map-purple.png">
    </a>
    <a href="http://users.smartgb.com/g/g.php?a=s&i=g19-01623-b8" target="_blank">
        Sign my Guestbook!
    </a>
</div>

<div class="changelog-box theme-background">
    <h3 class="tektur-500-medium"><a href="pages/changelog.html">Changelog</a></h3>
    <div id="minichangelog" class="minichangelog tektur-500-xsmall">

    </div>
    

    


</div>

<div class="chatbox-box theme-background">
    <iframe src="https://www3.cbox.ws/box/?boxid=3540547&boxtag=O8icbv" width="100%" height="200" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
</div>

<div class="button-box theme-background">

    <div style="display: flex; flex-direction: row;">
        <!-- Balrog Button 31x31 created by Jug @ jugbug.neocities.org -->
        <a class="balrog-button-31" href="https://jugbug.neocities.org/" target="_blank"></a>
        <!-- Jug Story Button 31x31 created by Jug @ jugbug.neocities.org -->
        <a class="jugstory-button-31" href="https://jugbug.neocities.org/" target="_blank"></a>
        <!-- Hank Button 31x31 created by Jug @ jugbug.neocities.org for thehank.neocities.org -->
        <a class="hank-button-31" href="https://thehank.neocities.org/" target="_blank"></a>
    </div>

    <div style="display: flex; flex-direction: row;">
        <!-- Balrog Button 88x31 created by Jug @ jugbug.neocities.org -->
        <a class="balrog-button-88" href="https://jugbug.neocities.org/" target="_blank"></a>
        <!-- Hank Button 88x31 created by Jug @ jugbug.neocities.org for thehank.neocities.org -->
        <a class="hank-button-88" href="https://thehank.neocities.org/" target="_blank"></a>
    </div>
    
    <div style="display: flex; flex-direction: row;">
        <!-- Heart Tank 88x31 created by Jug @ jugbug.neocities.org -->
        <a class="hearttank-button-88" href="https://jugbug.neocities.org/" target="_blank"></a>
    </div>
</div>

<div class="jmessage-box">
    <img src="images/jmessage/jmessage_construction.png">
</div>