


    <div class="mood-box theme-background">
        <h3>I'm feeling...</h3>
        <a href="https://www.imood.com/users/JugBug"><img src="https://moods.imood.com/display/uname-JugBug/fg-FFFFFF/trans-1/imood.gif" alt="The current mood of JugBug at www.imood.com"></a>
    </div>
    
    <div class="stamp-box theme-background">
        <!-- Balrog Stamp created by Jug @ jugbug.neocities.org -->
        <a class="balrog-stamp" href="https://jugbug.neocities.org/" target="_blank"></a>
        <!-- Jug Story Stamp created by Jug @ jugbug.neocities.org -->
        <a class="jugstory-stamp" href="https://jugbug.neocities.org/" target="_blank"></a>
    </div>
    
    <div class="theme-switcher-box theme-background">
        <select id="theme-switcher">
            <option value="chrono-theme-1">Chrono Theme 1</option>
            <option value="chrono-theme-2">Chrono Theme 2</option>
            <option value="chrono-theme-3">Chrono Theme 3</option>
            <option value="chrono-theme-4">Chrono Theme 4</option>
            <option value="chrono-theme-5">Chrono Theme 5</option>
            <option value="chrono-theme-6">Chrono Theme 6</option>
            <option value="chrono-theme-7">Chrono Theme 7</option>
            <option value="chrono-theme-8">Chrono Theme 8</option>
            <option value="cave-theme-1">Cave Theme 1</option>
        </select>
    </div>





