





h3 {
    margin: 0;
}


.tektur-500-small {

    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: small;
    color: white;
}

.tektur-500-xsmall {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: x-small;
    color: white;
  }




.foreground-gif {
    background-image: url('../images/moonsong-clouds-foreground.gif');
    background-position: center bottom;
    background-repeat: repeat-x;
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    
    width: 100%;
    height: 100%;

    pointer-events: none; 
    
}

.background-gif {
    background-image: url('../images/moonsong-clouds-background.gif'), url('../images/moonsong-stars.jpg');
    background-position: center bottom;
    background-repeat: repeat-x, repeat;
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    
    width: 100%;
    height: 100%;

    pointer-events: none; 
    
    z-index: -1;
}


.main {
    max-width: 800px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}



.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.nav li {
     text-align: center;
}



.content {
    display: flex;
    gap: 2px;
    justify-content: space-between;
}


.sidebar-left {
    width: 20%;
}

.content-body {
    width: 60%;
}

.sidebar-right {
    width: 20%;
    display: flex;
    flex-direction: column;
}


.guestbook-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.changelog {
    width: 100%;
    height: 10rem;
    overflow-y: scroll;
}





.chrono-background-1 {
    background-image: url("../images/panels/chrono backgrounds/chrono-background-1.jpg");

    border: 8px solid transparent;
    border-image: url("../images/panels/chrono backgrounds/chrono-border-1.png") 8 round;

}






.balrog-stamp {
    /*
    Balrog Stamp created by Jug @ jugbug.neocities.org
    */
    width: 99px;
    height: 56px;

    background-image: url('../images/buttons/balrog button/stamp/balrog-sprite-stamp.png');
    background-repeat: no-repeat;
}

.balrog-stamp:hover {
    background-position: -99px 0;
}

.balrog-stamp:active {
    background-position: -198px 0;
}


.balrog-button-88 {
    /*
    Balrog Button 88x31 created by Jug @ jugbug.neocities.org
    */
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 0;

    width: 88px;
    height: 31px;

    background-image: url('../images/buttons/balrog button/88x31/balrog-sprite-88x31.jpg');
    background-repeat: no-repeat;
}

.balrog-button-88:hover {
    background-position: -88px 0;
}

.balrog-button-88:active {
    background-position: -176px 0;
}



.balrog-button-31 {
    /*
    Balrog Button 31x31 created by Jug @ jugbug.neocities.org
    */
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 0;

    width: 31px;
    height: 31px;

    background-image: url('../images/buttons/balrog button/31x31/balrog-sprite-31x31.jpg');
    background-repeat: no-repeat;
}

.balrog-button-31:hover {
    background-position: -31px 0;
}

.balrog-button-31:active {
    background-position: -62px 0;
}

.hank-button-31 {
    /*
    Hank Button 31x31 created by Jug @ jugbug.neocities.org for thehank.neocities.org
    */
    width: 31px;
    height: 31px;
    padding:0;
    margin:0;

    background-image: url('../images/buttons/hank button/hank-button-31x31.jpg');
    background-repeat: no-repeat;
}

.hank-button-88 {
    /*
    Hank Button 88x31 created by Jug @ jugbug.neocities.org for thehank.neocities.org
    */
    width: 88px;
    height: 31px;

    background-image: url('../images/buttons/hank button/hank-button-88x31.gif');
    background-repeat: no-repeat;
}
